[submodule "TechAscension"]
	path = TechAscension
	url = https://github.com/mightydanp/TechAscension.git
	branch = main
[submodule "TechCore"]
	path = TechCore
	url = https://github.com/mightydanp/TechCore.git
	branch = main

